<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<style>{{ style }}</style>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/projects">Projects</a>
    </div>
    <div>
        {{ content }}
        {{ children }}
        {% if nochildren %}
            This page has no children
        {% endif %}
    </div>
</body>
</html>
